.AnsweredQuestion {
	width: 100%;
	border: 1px solid #aaa;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.aq-header{
	padding: 10px;
	border-bottom:1px solid #aaa;
	background-color: lightgray;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.aq-bottom-container {
	display: grid;
	grid-template-columns: 35% 65%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.aq-author-avatar {
	margin: auto;
	width: 70%;
	grid-column-start: 1;
	grid-column-end: 2;
}

.aq-left-sub-container {
	display: flex;
	border-left: 1px solid lightgray;
	padding-left: 10px;
	padding-right: 10px;
	flex-direction: column;
	justify-content: space-between;
	grid-column-start: 2;
	grid-column-end: 3;
}

.aq-option-text {
	font-style: italic;
}

.aq-subheader,
.aq-option,
.aq-option-votes {
	text-align: center;
	padding: 5px;
}

.aq-option {
	border-radius: 5px;
	border: 1px solid grey;
	position: relative;
	margin-bottom: 10px;
}

.aq-option-selected {
	width: 1.2em;
	position: absolute;
	top: -9px;
	right: -10px;
	background-color: #09f;
	padding: 5px;
	border-radius: 2.5em;
	color: white;
}

.aq-option-text, .aq-option-votes {
	display: block;
}