.QuestionCard {
	width: 450px;
	border: 1px solid gray;
	border-radius: 5px;
}

.questioncard-header {
	border-bottom: 1px solid gray;
	padding: 10px;
	font-weight: bold;
}

.questioncard-info {
	display: grid;
	padding: 10px;
	grid-template-columns: 33.9% 33% 33%;
	grid-template-rows: 33.9% 33% 33%;
}

.questioncard-profile-image-container {
	display: flex;
	justify-content: center;
	border-right: 1px solid lightgrey;
	margin-right: 10px;
	align-items: center;
	flex-flow: row;
	grid-column-start: 1;
	grid-row-start: 1;
	grid-row-end: 4;
}

.questioncard-profile-image {
	width: 70%;
}

.questioncard-posed-label {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 1;
}

.questioncard-rm-mg {
	margin: unset;
}

.questioncard-text {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 2;
}

.questioncard-short-text {
	text-overflow: ellipsis;
	max-width: 124px;
	overflow: hidden;
	white-space: nowrap;
}

.questioncard-btn-view-poll {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	border: 1px solid #09f;
	color: #09f;
	border-radius: 5px;
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 3;
}

.questioncard-btn-view-poll:hover {
	background-color: #09f;
	color: white;
}

@media (max-width: 991px) {
	.QuestionCard {
		width: 380px;
	}
}