.Question {
    width: 100%;
    height: fit-content;
    border: 1px solid #aaa;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.question-header{
    background-color: lightgray;
    padding: 10px;
    border-bottom:1px solid #aaa;
}

.question-bottom-container {
    display: grid;
    padding: 10px;
    grid-template-columns: 35% 65%;
}

.question-author-avatar {
    margin: auto;
    width: 70%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
}

.question-left-sub-container {
    padding-left: 10px;
    border-left: 1px solid lightgray;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.question-subheader {
    font-weight: bold;
}

.question-or-separator {
    text-align: center;
    font-weight: bold;
}

.question-submit-answer-btn {
    border: 1px solid #09f;
    color: #09f;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.question-submit-answer-btn:hover {
    color: white;
    background-color: #09f;
}

.question-btm-mg {
    margin-bottom: 5px;
}