.Question {
    width: 450px;
    border: 1px solid grey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.question-header{
    padding: 10px;
    border-bottom:1px solid grey;
}

.question-author-name {

}

.question-bottom-container {
    display: grid;
    padding: 10px;
    grid-template-columns: 35% 65%;
    grid-template-rows: 21% 21% 16% 21%;
}

.question-author-avatar {
    margin: auto;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
}

.question-subheader {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.question-option-one {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.question-option-two {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.question-option {

}

.question-or-separator {

    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.question-submit-answer-btn {
    border: 1px solid #09f;
    color: #09f;
    border-radius: 5px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}

.question-submit-answer-btn:hover {
    color: white;
    background-color: #09f;
}

.btm-mg {
    margin-bottom: 10px;
}