.custom-select {
  position: relative;
  border: 1px solid gray;
  border-radius: 5px;
}

.custom-select-display {
  border-radius: 5px;
  color: gray;
  cursor: pointer;
  width: 100%;
  text-align: start;
  padding: 10px;
  outline: none;
}

.custom-options-group {
  overflow: hidden;
  position: absolute;
  top: 45px;
  left: -1px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid gray;
  width: 100%;
}

.custom-option {
  display: flex;
  background-color: white;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.custom-option:hover {
  background-color: lightgray;
  cursor: pointer;
}

.hidden {
  display: none;
}

.text-black {
  color: black;
}