.UserSelector {
  position: relative;
  border: 1px solid gray;
  border-radius: 5px;
}

.us-dropdown-button {
  border-radius: 5px;
  color: gray;
  cursor: pointer;
  width: 100%;
  text-align: start;
  padding: 10px;
  outline: none;
}

.us-options-group {
  overflow: hidden;
  position: absolute;
  top: 45px;
  left: -1px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid gray;
  width: 100%;
}

.us-option {
  display: flex;
  background-color: white;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.us-option:hover {
  background-color: lightgray;
  cursor: pointer;
}

.us-option-user-image {
	width: 60px;
	border-radius: 30px;
}

.us-option-user-name {
	font-size: 1.2em;
	margin-left: 10px;
}

.us-hidden {
  display: none;
}

.us-text-black {
  color: black;
}