table {
	overflow: hidden;
	margin: auto;
	border-spacing: 0;
	border: 1px solid #aaa;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

td {
	padding: 10px;
}

th {
	width: 50%;
	padding: 10px;
	cursor: pointer;
	border-bottom: 1px solid #aaa;
}

.left-border {
	border-left: 1px solid #aaa;
}

.hidden {
	display: none;
}

.selected {
	cursor: default;
	background-color: #ddd;
}